$color-grey-dark :#777;

*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing: inherit;
}

body{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  padding:1rem;
  box-sizing: border-box;
  color:$color-grey-dark;
}

html{
  font-size: 62.5%;  //1rem = 10px;
}

.icon{
  height:3.5rem;
  width:3.5rem;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  position: relative;
  z-index: 10;
  cursor: pointer;

  &__chat,&__donut,&__more , &__search , &__attach , &__emoji , &__mic , &__send ,&__cross , &__tick{
    height: 2rem;
    width:2rem;
    margin-right: 1rem;
    fill:#212121;
    transform: scale(1);
    transition: transform 0.2s ease-in;

    &:active{
      transform: scale(1.5);
    }
  
  }

  &__chat{
    margin-right: 0.4rem;
  }

  &__attach, &__emoji , &__send{
    fill:#757575;
}

&__send{
  height: 2.5rem;
  width: 2.5rem;
  fill:#212121;
}

&__cross{
  height: 3rem;
  width: 3rem;
}

&__tick{
  margin-left: 0.3rem;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

  &__search{
    height: 1.5rem;
    width:1.5rem;
    stroke-width: 0.2rem;
    fill:#757575;
  }
}

.not_found{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
}

._form{
  background-color: #dadbe3;
  height: 100vh;
  position: relative;
}

.form__inner__top{
  background-color: #00bfa5;
  height:30vh;
}