$color-grey-dark :#777;

*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing: inherit;
}

body{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  padding:1rem;
  box-sizing: border-box;
  line-height: 1.7;
  color:$color-grey-dark;
}

html{
  font-size: 62.5%;  //1rem = 10px;
}