@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.room_spinner{

    /* display: inline-block; */
    height: 3rem;
    width: 3rem;
    border: 0.3rem solid #ccc;
    border-top-color: red;
    border-radius: 50%;
    margin:10rem auto;
    transform-origin: center;
    margin-top: 10rem;
    animation: rotate 1s linear infinite;
 


}