.chat{
    flex:0.70;
    display: flex;
    flex-direction: column;

    &__header{

        padding:2rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgray;

        &__info{
            flex:1;
            padding-left: 2rem;

            & > h3{
                font-weight: 700;
                font-size: 2rem;
                color: #212121;
            }
        }

        &__right{
            display: flex;
            min-width: 10rem;
            justify-content: space-between;
            align-items: center;
        }
        
        &__img{
            height: 3rem;
            width: 3rem;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 2rem;
        }

    }

    &__body{
        flex:1;
        background-image: url("../../images/whatsapp.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3rem;
        overflow-y: auto;
    }

    &__footer{
        display:flex;
        padding:2.5rem;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid lightgrey;

         &__input{
            flex:1;
            position: relative;
            padding:1rem;
            display: flex;
            margin: 0 1rem 0 1rem;

            &>input{
                flex:1;
                border-radius: 3rem;
                padding:1rem;
                border:none;

            
            }
        }
        &__btn{
            display: none;
        }


    }
}

.message{

    &__body{
        padding:1.2rem;
        font-size: 1.9rem;
        position: relative;
        width: fit-content;
        max-width: 50%;
        border-radius: 1rem;
        font-weight: 600;
        margin-bottom: 3.5rem;
        color:#212121;
    }

    &__sender{
        margin-left:auto;
        background-color: #dcf8c6;
    }

    &__receiver{
        background-color: #fff;
    }

    &__timestamp{
        color:#757575;
        margin-left: 2rem;
        font-size: xx-small;
    }

    &__name{
        position: absolute;
        font-size: xx-small;
        top:-2.3rem;
        left:2%;
    }
    
}


.splashScreen{
    flex:0.70;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image{
        border-radius: 50%;
        height: 30rem;
        width: 30rem;
        margin-bottom: 5rem;
    }

    &__text{
        font-size: 2rem;
    }
}
