.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  height:88vh;
  left:50%;
  top:15%;
  transform: translateX(-50%);
  width: 80rem;
  box-shadow: 1rem 3rem 4rem rgba(0,0,0,0.3) ;
  
  &__header {
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__error {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    background-color: #f6d8db;
  }
}

.btn__submit {
  background-color: #44e6c3;
  color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 1.5rem 1.9rem;
  font-size: 2rem;
  margin: 1.2rem;
}

.link {
  font-size: 1.8rem;
  padding-left: 1rem;
  color: #06463d;
  text-decoration: none;
}
