.addToConTacts{
    padding:2rem;
    margin: 1rem  0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    

}

.item__text{
    color:#00bfa5;
    font-weight: bold;
    font-size: 1.6rem;
}

.contacts__header{
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.item__text{
    margin-left: 1rem;
}